@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --background: #171717;
}


body {
  color: var(--foreground, #ffffff);
  font-family: var(--ff-sans-serif, Arial, Helvetica, sans-serif);
}

h1 {
  font-family: var(--ff-serif, Arial, Helvetica, sans-serif);
}

